<p>structural-directives works!</p>

<!-- <h2 *ngIf="!isLoggedIn">Hello Guest</h2>

<h2 *ngIf="isLoggedIn">Hello ITI</h2> -->

<!-- <div *ngIf="isLoggedIn; then thenBlock; else elseBlock;">

</div> 

<ng-template  #elseBlock  >
    <h2>Hello Guest</h2>

</ng-template>

<ng-template #thenBlock>
    <h2>Hello {{name}}</h2>
</ng-template>-->
<!-- <div *ngIf="isLoggedIn || ay7aga;else elseBlock">
    <h2>Hello {{name}}</h2>
</div> -->


<!-- <div  [ngSwitch]="color"  >
    <div  *ngSwitchCase="'red'" >my color is red</div>   
    <div  *ngSwitchCase="'blue'" >my color is blue</div>   
    <div   *ngSwitchDefault>no color</div>   
</div> -->

<!-- <div  *ngFor="let color of colors;index as i;odd as d;even as  e"  >
    <div>
       {{i}} - {{color}} - {{d}} - {{e}}
    </div>
</div> -->





