<p>pipes works!</p>

<!-- {{name}}
<br>
{{name | lowercase}}
<br>
{{name | uppercase}}
<br>
{{name | titlecase}}
<br>
{{name | slice:3}}
<br>
{{name | slice:1:4}} -->

<!-- {{3.456}}
<br>
{{3.456 | number:'1.2-3'}}
<br>
{{3.456 | number:'4.4-6'}}
<br>
{{3.456 | number:'4.1-2'}} -->

<!-- {{.50 | percent}}
<br/>
{{25 | currency:'EGP'}} -->


<!-- {{date}}
<br>
{{date | date:'short'}}
<br>
{{date | date:'shortDate'}}
<br>
{{date | date:'shortTime'}}
<br>
{{date | date:'mediumDate'}}
<br>
{{date | date:'longTime'}}
<br>
{{date | date:'yyyy-MM-d'}} -->

{{10 | square}}









