<div class="container">
    <h2>Enroll Form</h2>
    <form #userForm="ngForm">
        {{userForm.value |json}}
        <br>
        {{userModel | json}}
        <div class="form-group">
            <label>Name:</label>
            <input type="text" name="txtName" [(ngModel)]="userModel.name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Email :</label>
            <input type="email" name="txtEmail" [(ngModel)]="userModel.email" class="form-control">
        </div>

        <div class="form-group">
            <label>telephone :</label>
            <input type="tel" name="txtTel" [(ngModel)]="userModel.phone" class="form-control">
        </div>
        <div class="form-group">
            <select class="custom-select" name="ddlTopic" [(ngModel)]="userModel.topic">
                <option selected>
                    I'm Interested In
                </option>
                <option *ngFor="let topic of
                topics">{{topic}}
                </option>
            </select>
        </div>

        <div ngModelGroup="address">
            <div class="form-group">
                <label>Street</label>
                <input type="text" name="txtStrret" [(ngModel)]="userModel.street" class="form-control" />
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" name="txtCity" [(ngModel)]="userModel.city" class="form-control" />
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" name="txtPostalCode" [(ngModel)]="userModel.postalCode" class="form-control" />
            </div>
        </div>

        <div class="mb-3">
            <label>Time selection</label>
            <div class="form-check">
                <input type="radio" value="eveninig" class="form-check-input" name="timeSelection" 
                [(ngModel)]="userModel.timeSelection">
                <label class="form-check-label">Eveninig (5PM –
                    8PM)</label>
            </div>
            <div class="form-check">
                <input type="radio" value="Morning" class="form-check-input" name="timeSelection" 
                [(ngModel)]="userModel.timeSelection">
                <label class="form-check-label">Morning (5PM –
                    8PM)</label>
            </div>
        </div>
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" name="chkOffers" [(ngModel)]="userModel.chkOffers">
            <label class="form-check-label">
                Send me new offers
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit Form">
    </form>
</div>